html, body {
  font-size: 16px;
  margin: 0;
  /*height: 100%;*/
}
.home {
        /*font-family: 'Noto Sans', sans-serif;*/
        /*font-family: 'Poppins', sans-serif;*/
  font-family: 'Raleway', sans-serif;
  align-items: center;
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: #758e86;
  background-color: #8c9ac3;
}

.home-inner {
  margin-top: 50px;
  margin-left: 60px;
  margin-right: 60px;
  height: 100%;
  display: flex;
  flex: 1;
  justify-content: space-around;
  width: 80%;
  z-index: 2;
  padding: 0 40px;
  /*position: relative;*/
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  box-shadow: 0 1px 8px 0 rgba(0,0,0,.2);
}

.site-content {
  max-width: 725px;
  width: 100%;
  padding-top: 40px;
}

.menu {
  width: 100%;
  font-size: 18px;
}

.intro {
  display: flex;
  width: 100%;
  /*height: 400px;*/
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-top: 40px;
}

.header {
 font-size: 2em;
 text-align: center;
}

.circle-img {
  border-radius: 50%;
  max-width: 225px;
  height: auto;
  padding: 30px;
  float: left;}

ul {
  list-style-type: none;}

li {
  float: right;}

li a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding-right: 20px;
  color: #000;
}

.name a {
  float: left;
  text-align: center;
  text-decoration: none;
  padding-right: 20px;
  color: #000;
}

.about {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  line-height: 25px;
}

.about a {
  text-decoration: none;
  color: #8c9ac3;
}

.about p {
  padding: 10px;
  flex-basis: 50%;
}

.contact {
  display: grid;
  width: 100%;
  padding-top: 40px;
  color: #8c9ac3;
  font-size: 2em;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  justify-content: center;
  align-items: center;
}

.contact i {
  grid-column: 1/2;
  /*align-self: center;*/
  justify-self: end;
  /*align-self: center;*/
  /*padding-bottom: 30px;*/
}
.email {
  color: #000;
  font-size: .7em;
  padding-left: 15px;
  flex-grow: 2;
  grid-column: 2/2;
  /*align-self: center;*/
  justify-self: start;
  /*justify-content: center;*/
}

.footer {
  width: 100%;
  height: 100px;
}

@media  (max-width: 800px) {

  .home-inner {
    margin: 0 auto;
    padding: 1.333rem;
    width: 100%;
    margin-top: -20px;
  }

  .intro {
    padding-top: 10px;
    padding-bottom: 20px;
    flex-wrap: wrap;

  }

  .site-content {
    padding-top: 10px;
  }

  .menu {
    justify-content: center;
    padding: 0;
  }

  .email {
    padding: 0;
  }

  .contact {
    justify-content: center;
  }

  .about {
    flex-wrap: wrap;
  }

  .about p {
    flex-basis: auto;
    padding: 10px 0;
    margin: 0;
  }
}

.highlight {
  color: #8c9ac3;
}

.project-page-title {
  font-size: 2em;
  text-align: center;
  width: 100%;
  padding-top: 100px;
}

.projects-container {
  padding-top: 100px;
  width: 100%;
}

.project-description a {
  text-decoration: none;
  color: #8c9ac3;
}

.project {
  padding-bottom: 50px;
  width: 100%;
}

.project-title {
  font-size: 2em;
  padding-bottom: 8px; 
}


